.card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.1);
  position: relative;
  overflow: hidden;
  &__wrap {
    border-radius: 10px;
    background: var(--purple-to-blue-gradient);
    padding: 5px;
    z-index: -1;
    margin-bottom: 40px;
    &.hidden {
      display: none;
    }
  }
  &__links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .button {
      margin: 0;
    }
  }

  h4 {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

#show-more {
  margin: auto;
  display: block;
  margin-bottom: 100px;
  background: var(--purple-to-blue-gradient);
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  padding: 20px 40px;
  border-radius: 10px;
  border-width: 0;
  position: relative;

  &.expanded {
    &::before {
      transform: rotate(180deg) translateX(50%);
    }
  }

  &::before {
    content: "";
    transition: all 0.5s ease;
    transform: rotate(90deg);
    background-image: url(/chevron-down-solid.svg);
    position: absolute;
    color: var(--blue-accent);
    width: 30px;
    height: 30px;
    border: 3px solid var(--blue-accent);
    background-color: white;
    border-radius: 50%;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
