@import "../../styles/mixins.scss";

.experience {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    p {
      margin: 10px;
      margin-left: 0;
    }
  }

  &__card {
    background-color: red;

    border-radius: 10px;
    background-color: white;
    padding: 20px;
    background-image: linear-gradient(
        90deg,
        var(--purple-accent) 50%,
        transparent 50%
      ),
      linear-gradient(90deg, var(--purple-accent) 50%, transparent 50%),
      linear-gradient(0deg, var(--purple-accent) 50%, transparent 50%),
      linear-gradient(0deg, var(--purple-accent) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear;

    @keyframes border-dance {
      0% {
        background-position: left top, right bottom, left bottom, right top;
      }

      100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px,
          right top 15px;
      }
    }
    h3 {
      margin: 12px;
      margin-left: 0;
    }
  }

  h2 {
    margin-top: 0;
    padding-top: 0;
    b {
      @include gradientText();
    }
  }
}
@media (max-width: 800px) {
  .experience {
    display: block;
  }

  .card {
    margin-bottom: 30px;
  }
}
