---
import "../../styles/skills.scss";

export interface Props {
	skills: Array<string>;
}
const { skills } = Astro.props;
---

<div class="skills__wrap">
	{skills.map((e) => <div class="skill">{e}</div>)}
</div>

<script src="./skills.js"></script>
