---
import LinkButton from "../../components/LinkButton.astro";
---

<div class="header__wrap">
  <div class="header__with-btn">
    <nav class="header">
      <a href="#projects">Projects</a>
      <a href="#experience">Experience</a>
      <a href="#certifications">Certifications</a>
      <a href="#contacts">Contacts</a>
    </nav>
    <LinkButton
      download={{
        link: "/files/CV_Borys_Hlynskyi.pdf",
        file: "CV_Borys_Hlynskyi.pdf",
      }}
      text="Download CV"
    />
  </div>
</div>
<style>
  @import "./header.scss";
</style>
