---
import LinkButton from "../../components/LinkButton.astro";
---

<div class="header__wrap">
  <div class="header__with-btn">
    <nav class="header">
      <a href="#projects">Projects</a>
      <a href="#experience">Experience</a>
      <a href="#certifications">Certifications</a>
      <a href="#contacts">Contacts</a>
    </nav>
    <LinkButton link="mailto:bglinskii6@gmail.com" text="Contact me!" />
  </div>
</div>
<style>
  @import "./header.scss";
</style>
