---
import LinkButton from "./LinkButton.astro";

export interface Props {
  title: string;
  description: string;
  link: string;
}

const { link, title, description } = Astro.props;
---

<div class="card">
  <div>
    <h4>{title}</h4>
    <p>{description}</p>
  </div>
  <LinkButton link={link} text={"Check Out"} />
</div>

<style>
  .card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.1);
  }

  .card .button {
    margin-left: auto;
    margin-right: 20px;
  }
</style>
