<nav class="header">
  <a href="#projects">Projects</a>
  <a href="#experience">Experience</a>
  <a href="#certifications">Certifications</a>
  <a href="#contacts">Contacts</a>
</nav>

<style>
  .header {
    padding: 30px;
  }

  .header a {
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    margin-right: 40px;
    font-weight: bold;
  }

  .header a:visited {
    color: black;
  }

  .header a:hover {
    border-bottom: 2px solid #9501ff;
    font-weight: bolder;
  }
</style>
