---
export interface Props {
  link?: string;
  text: string;
  download?: Object;
}

const { link, text, download } = Astro.props;
---

<a
  href={download ? download.link : link}
  download={download ? download.file : undefined}
  class="button"
>
  {text}
</a>

<style>
  .button {
    display: inline-block;
    padding: 10px;
    height: fit-content;
    margin-right: 30px;
    border-radius: 10px;
    background: var(--purple-accent);
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .button:visited {
    color: white;
  }
</style>
